* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-image: url("./desk-back.png");
  background-color: #fffefa;
  font-family: Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  color: #270036;
}

#QinpelDeskBody {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#QinpelDeskMain {
  flex: 1;
  border: 2px solid #270036;
  border-radius: 4px;
  max-width: 600px;
  background-color: white;
  margin: 27px;
}

#QinpelDeskHead {
  padding: 6px;
  background-color: #360045;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

#QinpelDeskHead img {
  margin-right: 12px;
}

#QinpelDeskText {
  padding: 27px;
  margin-top: 27px;
  font-size: 18px;
  font-family: Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  max-height: 180px;
  text-align: left;
  overflow: auto;
}

.QinpelDeskTextMessage {
  display: flex;
  border-bottom: 1px solid lightblue;
}

.QinpelDeskTextMessageTime {
  padding: 3px;
  background-color: aliceblue;
}

.QinpelDeskTextMessageStatus {
  padding: 3px;
  padding-left: 7px;
  flex: 1;
}

#QinpelDeskFoot {
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#QinpelDeskFoot img {
  padding: 12px;
}
